<div *ngIf="isAddCandidateSuccessful; else addCandForm">
    Candidate has been added!
</div>

<ng-template #addCandidateForm>
    <div class="container">

        <h1>Add Candidates To election</h1>

        <form #addCandForm="ngForm" (ngSubmit)="onSubmit(addCandForm)">
            <div class="form-group">
                <label for="electionId">Election ID:</label>
                <input type="text" class="form-control" id="electionId" [(ngModel)]="electionId" required
                    name="electionId" #electionIdProperty=ngModel>
                <div [hidden]="electionIdProperty.valid || electionIdProperty.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="userId">User ID:</label>
                <input type="text" class="form-control" id="userId" [(ngModel)]="userId" required name="userId"
                    #userIdProperty=ngModel>
                <div [hidden]="userIdProperty.valid || userIdProperty.pristine" class="alert alert-danger">
                    User is required
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!addCandForm.form.valid">Submit</button>

            <div *ngIf="addCandForm.submitted && isAddCandidateFailed" class="alert alert-warning">
                Add Candidate Failed! <br /> {{errorMessage}}
            </div>

            <button type="submit" ng-click="show=true" class="btn btn-success">View Elections</button>
        </form>
    </div>

</ng-template>

<app-view-candidates *ngIf=show></app-view-candidates>