<div *ngIf="info.token; else loggedOut">
  
 <h3 class="text-primary">Welcome to the Cogent Voting App</h3> 
 <h4>you are now logged in</h4>
  
<br><br>
<div *ngIf="info.authorities=='ROLE_ADMIN'">
 
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}.
  </p>
  
</div>

  
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>